<div class="prose max-w-full">
  <h2>
    🔎 Récapitulatif des badgeages de la semaine du
    {{ shortFormatter.format(daysOfWeek[0]) }}: - {{ greet }}
  </h2>

  <table>
    <thead>
      <th>Jour</th>
      <th>Entrée</th>
      <th>Sortie</th>
      <th>Entrée</th>
      <th>Sortie</th>
      <th class="font-bold">Total</th>
    </thead>
    <tbody>
      <tr *ngFor="let day of daysOfWeek">
        <td>
          {{ dateFormatter.format(day) }}
        </td>
        <td
          *ngFor="let badgeage of adjustedBadgeages(day); index as i"
          contenteditable
          (input)="editBadgeage(i, getValue($event))">
          {{ (badgeage | date : 'mediumTime') ?? 'N/A' }}
        </td>

        <td class="font-bold">
          {{ duration(day).toString('%H h %M m %S s') }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
